<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://WSM1.wiselink.net.cn/tycx/wsmCarOwner.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://WSM1.wiselink.net.cn/tycx/2.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://WSM1.wiselink.net.cn/tycx/2.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>subtitle</key>
				<string>同一出行v5.32</string>
				<key>title</key>
				<string>同一出行v5.32</string>
				<key>bundle-version</key>
				<string>5.32</string>
				<key>kind</key>
				<string>software</string>
				<key>bundle-identifier</key>
				<string>com.wiselink.moneyEnterprise</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
